/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {

    .menu {
        display: none;
    }
    .PhoneMenu {
        display: block !important;
        margin:10px ;
    }
    .PhoneMenu a{
        width: fit-content;
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        height: fit-content;
        /* text-align: center; */
        margin: auto;
        text-transform: uppercase;
        font-weight: 200;
        font-size: .85rem;
        transition: color 0.3s ease, text-shadow 0.3s ease;
    }

    .mainContainer {
        width: 100vw;
        max-width: 100vw;
    }

    .Section {
        padding: 5px 20px;
    }

    
.landing{
   margin: 0px;
   height: 60vh;
}

    .landing .logo-container {
        margin-top: auto;
    }

    .wonderHouse {
        margin-top: -20px;
    }
    .wonderHouse h2{
        margin-top: 0px;
    }

    .wonderHouse article:nth-of-type(1) .sectionContent {
        display: inline;
    }
    .wonderHouse article:nth-of-type(1) h2 {
       margin-bottom: 24px;
    }


    .wonderHouse article:nth-child(1) .sectionContent p {
        width: 100%;
    }


    .wonderHouse article:nth-of-type(1) .sectionContent img {
        width: 100%;
        height: 244px;
    }

    .wonderHouse article:nth-of-type(2) .sectionContent {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--gapMedium);
    }

    .wonderHouse article:nth-of-type(2) .sectionContent img {
        width: 100%;
        height: 200px;
    }

    .wonderHouse article:nth-of-type(3) .sectionContent {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--gapMedium);
    }

    .wonderHouse article:nth-of-type(3) .sectionContent img {
        width: 100%;
        height: 400px;
    }

    .experience .pillars {
        display: block;
        width: 100%;
        margin-bottom: 40px;
    }

    h1 {
        text-align: center;
    }

    .experience h2 {
     /* width: 288px; */
    margin: 60px auto 20px auto;
    }

    .experience .pillars .pillar strong {
        margin: 0px auto;
        font-weight: 900;
        font-family: 'Pecita', sans-serif;
        font-size: 2.7rem;
    }

    .experience .pillars .pillar {

        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 20px;
        height: 400px;
        background-color: var(--dark);
        border-radius: var(--roundedRadius);
    }

    .experience .lifeGallery img {
        width: 100%;
    height: fit-content;
    }

    .wonderGallery img:nth-of-type(1) {
        width: 100%;
        min-width: unset;
        height: fit-content;
    }

    .wonderGallery {
        display: block;
        width: auto;

    }




    /* Cambiar la orientación del flex a row en el contenedor de habitaciones */
    #roomsHostaway {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* Ajustar el tamaño de las tarjetas de habitación en móvil */
    .room-card {
        width: 45%;
        margin: 10px 0;
    }

    /* Ajustar el contenedor de imágenes en móvil */
    .room-images {
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    /* Ajustar el tamaño de las imágenes en móvil */
    .room-image {
        min-width: 100%;
        scroll-snap-align: start;
    }

    .roomDescription {

        z-index: 200;
        margin-top: 16px;
        position: relative;
    }
    .roomDescription p {

       display: none;
    }

    .roomWidget .selectedRoomPhoto img {
        width: 100%;
        object-fit: cover;
        border-radius: 0px;
        height: 100%;
    }

    .bubbleBg {
        background-color: white;
        border-radius: 0px;
    }

    .contact-info-container {

        margin: auto 25px;
        flex-direction: column;
    }

    .roomPrice {
        margin-bottom: 0px;
        position: relative !important;
        top: unset;
        right: unset;
        border-radius: 0px;
        padding: 6px 11px;
    }

    .roomPrice .priceContainer {
        flex-direction: column;
        gap: 0px;
    }

    .roomPrice .offer {
        border-right: solid 1px #00000038;
        padding-right: 10px;
    }

    .roomWidget .selectedRoomPhoto {
        width: 100%;
        height: 550px;

    }

    .roomWidget .selectedRoomPhoto .roomContent {
        flex-direction: column;
        background: none;
        backdrop-filter: none;
    }

    .roomWidget .checkAvailability {

        margin: 10px auto;
        padding: 11px 90px;
        background: var(--accent);
    }

    .roomWidget .checkAvailability:hover {
        background: var(--dark);
    }

    .roomWidget h3 {
       margin:20px auto;
       width: 100%;
       text-align: center;
    }

    .Footer {
        padding: 0px !important;
    }

    .social-icons {
        margin: 0px 0px 20px 0px;
    }

    .social-media {
        align-items: center;
    }

    .hsbw-grid.hsbw-grid--locations {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        flex-wrap: nowrap;
        align-items: stretch;
        padding: 20px;
    }

    .hsbw-main-button {
        width: 100%;
        margin-left: 0px;
    }

}

h2 {
    font-family: 'Pecita', sans-serif;
    font-size: 2rem;
    font-weight: normal;
}