<div class="roomWidget">
    <h3>{{type}}</h3>
    <div class="selectedRoomPhoto">
        <div class="roomPrice">
            <div class="offer">{{offer}}</div>
            <div class="oldPrice">{{price}}</div>
                {{discountedPrice}}            
        </div>
        <img class="selectedImage" id="mainImage" src="{{image}}" loading="lazy" />
          <div class="roomContent">
                         
            <div class="roomDescription">
                <!-- <h3>{{name}}</h3> -->
                <p>{{description}}</p>
            </div>
            
            <a href="https://wonderhouse.holidayfuture.com/listings/{{listingId}}" class="checkAvailability" target="_blank">Check Availability</a>
            <!-- <img class="bubbleBg" src="imgs/RoomBubbleBg.svg"  loading="lazy" /> -->
          
        </div>
       
    </div>
    <div class="roomGallery">
        <img src="{{image}}"  class="galleryThumbnail" loading="lazy" />
        <img src="{{image}}" class="galleryThumbnail" loading="lazy" />
        <img src="{{image}}" class="galleryThumbnail" loading="lazy" />
        <img src="{{image}}" class="galleryThumbnail" loading="lazy" />
    </div>
 
   
  
    
</div> 